.background-desktop {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; /* This makes the background image scrollable */
    height: 90vh; /* Set a fixed height for the background */
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Mobile Background */
@media (max-width: 767px) {
    .background-desktop {
        background-image: url('/images/mobile-view.png'); /* Change this to your mobile background image */
        background-repeat: no-repeat;
        background-attachment: scroll; /* This makes the background image scrollable */
    }
}